autopep8==1.5.5
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.1
conllu==4.4
contextvars==2.4
cupy-cuda102==8.4.0
cymem==2.0.5
danlp==0.0.11
dataclasses==0.8
docker-pycreds==0.4.0
fastrlock==0.5
filelock==3.0.12
flake8==3.8.4
ftfy==5.9
gitdb==4.0.5
gitpython==3.1.13
idna==2.10
immutables==0.15
importlib-metadata==3.6.0
jinja2==2.11.3
joblib==1.0.1
markupsafe==1.1.1
mccabe==0.6.1
murmurhash==1.0.5
numpy==1.19.5
oauthlib==3.1.0
packaging==20.9
pandas==1.1.5
pathtools==0.1.2
pathy==0.4.0
pip==21.0.1
preshed==3.0.5
promise==2.3
protobuf==3.15.2
psutil==5.8.0
pycodestyle==2.6.0
pyconll==3.0.3
pydantic==1.7.3
pyflakes==2.2.0
pyparsing==2.4.7
pysocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
pyyaml==5.4.1
regex==2020.11.13
requests-oauthlib==1.3.0
requests==2.25.1
sacremoses==0.0.43
sentry-sdk==0.20.3
setuptools==53.0.0
shortuuid==1.0.1
six==1.15.0
smart-open==3.0.0
smmap==3.0.5
spacy-alignments==0.7.2
spacy-legacy==3.0.1
spacy-transformers==1.0.1
spacy==3.0.3
srsly==2.4.0
subprocess32==3.5.4
thinc==8.0.1
tokenizers==0.9.4
toml==0.10.2
torch==1.7.1
torchcontrib==0.0.2
tqdm==4.57.0
transformers==4.2.2
tweepy==3.10.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
wandb==0.10.20
wasabi==0.8.2
wcwidth==0.2.5
wheel==0.36.2
zipp==3.4.0